<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    Sensors:
    {% for sensor in sensors %}
        {{sensor}} = {{ sensors[sensor] }}
    {% end %}
    <table border="1">
        <tr>
            <td>Button</td><td>State</td></tr>
        </tr>
    {% for actuator in actuators %}
        <tr>
            <td><a href="/actuator/{{ actuator }}/on">{{ actuator }} {% if actuators[actuator] %}<b>ON</b>{% else %}on{% end %}</a></td>
            <td><a href="/actuator/{{ actuator }}/off">{{ actuator }} {% if not actuators[actuator] %}<b>OFF</b>{% else %}off{% end %}</a></td>
        </tr>
    {% end %}
    </table>
</body>
</html>