<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Home automation</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/jumbotron-narrow.css" rel="stylesheet">
        {% block scripts %}
        {% end %}
  </head>
  <body>
    {% block body %}
    {% end %}
  </body>
</html>
