{% extends "base.html" %}

{% block scripts %}
    {% autoescape None %}
    <script type="text/javascript">
    var graphLeftText = 'Light';
    var graphRightText = 'default';
    var  datapointDates = {{ datetimeList }};
    var  datapointValues = {{ datapointValues }};

    </script>
    <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="/public/js/highcharts.js"></script>
{% end %}

{% block body %}
    <div class="container">
      {% include "menu.html" %}

      <div class="jumbotron">
        <h2>Sensors timeline</h2>
        <form action="/graphs" method="post">
            Senzor type:
            <select name="type">
                  <option value="light"{% if selectedType == 'light' %}selected="selected"{% end %}>Light</option>
                  <option value="temperature"{% if selectedType == 'temperature' %}selected="selected"{% end %}>Temperature</option>
                  <option value="humidity"{% if selectedType == 'humidity' %}selected="selected"{% end %}>Humidity</option>
                  <option value="rain"{% if selectedType == 'rain' %}selected="selected"{% end %}>Rain</option>
            </select>
            <input type="submit" value="Show">
        </form>
      </div>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

      <footer class="footer">
        <p>Smecherie</p>
      </footer>

    </div> <!-- /container -->
{% end %}