{% extends "base.html" %}

{% block body %}
    <div class="container">
     {% include "menu.html" %}

      <div class="jumbotron">
        <h2>Management page</h2>
        <p class="lead">
            <b>Sensors:</b>
            {% for sensor in sensors %}
                {{ sensor.capitalize()}} = {{ sensors[sensor] }}
            {% end %}
        </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Actuators</h4>
            {% for actuator in actuators %}
            <p>
                {% if actuators[actuator]['type'] == 'bi' %}
                <a href="/actuator/{{ actuator }}/on">{{ actuator }} {% if actuators[actuator]['state'] %}<b>ON</b>{% else %}on{% end %}</a> |
                <a href="/actuator/{{ actuator }}/off">{{ actuator }} {% if not actuators[actuator]['state'] %}<b>OFF</b>{% else %}off{% end %}</a>
                {% else %}
                <a href="/actuator/{{ actuator }}/on">{{ actuator }}</a>
                {% end %}
            </p>
            {% end %}
        </div>
      </div>

      <footer class="footer">
        <p>Smecherie</p>
      </footer>

    </div> <!-- /container -->
{% end %}