{% extends "base.html" %}

{% block body %}
    <div class="container">

     {% include "menu.html" %}

      <div class="jumbotron">
        <h3>Management page</h3>
        <p class="lead">
            <b>Sensors:</b>
            {% for sensor in sensors %}
                {{ sensor.capitalize()}} = {{ sensors[sensor] }}
            {% end %}
        </p>
      </div>

      <div class="row marketing">
         <table class="table">
            <thead>
                <tr>
                    <th>ON</th>
                    <th>OFF</th>
                </tr>
            </thead>
            <tbody>
          <h4>Actuators</h4>
            {% for actuator in actuators %}
                <tr>
                {% if actuators[actuator]['type'] == 'bi' %}
                    <td><a href="/actuator/{{ actuator }}/on">{{ actuator }} {% if actuators[actuator]['state'] %}<b>ON</b>{% else %}on{% end %}</a>
                    <td><a href="/actuator/{{ actuator }}/off">{{ actuator }} {% if not actuators[actuator]['state'] %}<b>OFF</b>{% else %}off{% end %}</a></td>
                {% else %}
                    <td><a href="/actuator/{{ actuator }}/on">{{ actuator }}</a></td>
                    <td>&nbsp</td>
                {% end %}
                </tr>
            {% end %}
            </tbody>
        </table>
      </div>

      <footer class="footer">
        <p>Smecherie</p>
      </footer>

    </div> <!-- /container -->
{% end %}