      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/actuators/cici/off">Home</a></li>
            <li role="presentation"><a href="/graphs">Graphs</a></li>
            {% if not username %}
            <li role="presentation"><a href="/login">Login</a></li>
            {% end %}
          </ul>
        </nav>
        <h3 class="text-muted">{% if username %}Logged as {{ username }}{% end %}</h3>
      </div>