astral==1.0
blinker==1.4
PyBluez==0.22
geopy==1.11.0
pyee==1.0.1
pytz==2016.4
redis==2.10.5
setuptools==20.7.0
six==1.10.0
tornado==4.3
pycrypto==2.6.1
python_dateutil==2.6.0
PyJWT==1.4.2
ouimeaux==0.8
pyserial==3.2.1
xmlrunner==1.7.7
