{% extends "./base.html" %}

{% block scripts %}
    {% autoescape None %}
    <script type="text/javascript">
        var graphLeftText = 'Light';
        var graphRightText = 'default';
        var datapointDates = {{ datetimeList }};
        var datapointValues = {{ datapointValues }};
    </script>

    <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="/public/js/highcharts.js"></script>
{% end %}

{% block body %}
    <div class="container">
      {% include "./snippets/menu.html" %}
      <div class="jumbotron">
        <form action="/graphs" method="post">
        <h2>Sensors timeline</h2>
            Senzor type:
            <select name="sensor">
            {% for sensor in sensors_config %}
                {% if sensor['visible'] %}
                <option value="{{sensor['type']}}:{{sensor['location']}}"{% if selected_sensor['type'] == sensor['type'] and selected_sensor['location'] == sensor['location'] %}selected="selected"{% end %}>{{sensor['type']}}( {{sensor['location']}} )</option>
                {% end %}
            {% end %}
            </select>
        <div class="row">
            Days behind:
            <select name="nr_days_behind">
                {% for i in range(1, 30) %}
                    {% if i == selectedDaysBehind %}
                    <option value="{{ i }}" selected="selected">{{ i }}</option>
                    {% else %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% end %}
                {% end %}
            </select>
        </div>
        <div class="row">
            Grouped by nr hours:
            <select name="group_by_hours">
                {% for i in range(0, 60) %}
                    {% if i == selectedGroupedByHours %}
                    <option value="{{ i }}" selected="selected">{{ i }}</option>
                    {% else %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% end %}
                {% end %}
            </select>
            <input type="submit" value="Show">
        </div>
        </form>
      </div>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

     {% include "./snippets/footer.html" %}

    </div> <!-- /container -->
{% end %}