{% extends "./base.html" %}
{% block scripts %}
    {% autoescape None %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="/public/css/smart-table.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ifttt.js"></script>
{% end %}

{% block body %}
    <div class="container">
     {% include "./snippets/menu.html" %}

      <div class="jumbotron">
            <h2>If This Than That</h2>
      </div>

      <div id="no-more-tables" class="row marketing">
       <div id="custom-alert" class="alert alert-danger alert-dismissible" role="alert" style="display:none;"></div>

        <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Conditions</th>
                    <th>Command</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

            <form name="allrules" method="POST">
            {% for rule in rules %}
            <tr {% if rule['name'] == 'demo_rule' %}class="main-tr add-nwl-rule" style="display:none"{% else %} class="main-tr" {% end %}>
                <td data-title="Rule name">
                    <input type="text" name="rule_name" value="{{ rule['name'] }}" {% if rule['name'] == 'demo_rule' %}readonly="true"{% end %}>
                </td>
                <td data-title="Trigger rules">
                    <textarea name="trigger_rules" rows="4" cols="30" />{{ rule['text'] }}</textarea>
                </td>
                <td data-title="Command">
                    <select name="actuator_name">
                        <option value=""></option>
                    {% for actuator in actuators %}
                        <option value="{{ actuator }}" {% if rule['actuator_name'] == actuator %}SELECTED=SELECTED{% end %}>{{ actuator }}</option>
                    {% end %}
                    </select> /
                    <select name="actuator_state">
                        <option value="On" {% if rule['actuator_state'] == True %}SELECTED=SELECTED{% end %}>On</option>
                        <option value="Off" {% if rule['actuator_state'] == False %}SELECTED=SELECTED{% end %}>Off</option>
                    </select>
                    <textarea name="voice" rows="2" cols="18" >
                        {{ rule['voice_text'] }}
                    </textarea>
                </td>
                <td data-title="Actions">
                    {% if rule['name'] == 'demo_rule' %}
                    <a class="action-update" href="javascript://">Add</a>
                    {% else %}
                    <a class="action-update" href="javascript://">Upd</a>|<a class="action-delete" href="javascript://">Del</a>
                    {% end %}
                    <select name="active">
                        <option value="True" {% if rule['active'] == True %}SELECTED=SELECTED{% end %}>On</option>
                        <option value="False" {% if rule['active'] == False %}SELECTED=SELECTED{% end %}>Off</option>
                    </select>
                </td>
            </tr>
            {% end %}
            <tr class="main-tr" >
                <td colspan="6"><a href="javascript://" class="new-rule">Add new rule</a></td>
            </tr>
            </form>

            </tbody>
        </table>
        </div>

      </div>

     {% include "./snippets/footer.html" %}

    </div> <!-- /container -->
{% end %}