{% extends "./base.html" %}

{% block scripts %}
    {% autoescape None %}
    <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
    <script src="/public/js/bootstrap-switch.min.js"></script>
    <script src="/public/js/main.js"></script>

    <link href="/public/css/bootstrap-switch.min.css" rel="stylesheet">
{% end %}

{% block body %}
    <div class="container">
     {% include "./snippets/menu.html" %}

      <div class="jumbotron">
        <p class="lead">
            <b>Sensors:</b>
            {% for sensor in sensors %}
                {% if 'homepage' in sensor['visible'] %}
                    <img src="/public/img/sensors/{{ sensor['type'] }}.png" title = "{{ sensor['type'].capitalize() }}" />
                {% if sensor['location'] != False %} <sub>{{ sensor['location'] }}</sub> {% end %}
                = {{ sensor['value'] }}
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% end %}
            {% end %}
        </p>
      </div>

      <div class="row marketing">
        <h4>Buttons</h4>
         <table class="table">
            <tbody>
                <tr>
                {% for actuator in actuator_type_single %}
                    <td>
                        <a href="/actuator/{{ actuator }}/on">{{ actuator }}</a>
                    </td>
                {% end %}
                </tr>
            </tbody>
        </table>
      </div>
      <div class="row marketing">
        <h4>Actuators</h4>
            <div class="container-fluid">
            {% for actuator_type in actuator_type_bi %}
                <div class="row">
                    <div class="col-md-4">
                        <b>{{ actuator_type.capitalize() }}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                    {% for actuator in actuator_type_bi[actuator_type] %}
                        {{ actuator['name'].capitalize() }}: &nbsp;<input type="checkbox" name="{{ actuator['name'] }}" {% if actuator['state'] %}checked{% end %}>
                    {% end %}
                    </div>
                </div>
            {% end %}
            </div>
      </div>

     {% include "./snippets/footer.html" %}

    </div> <!-- /container -->
{% end %}