{% extends "./base.html" %}

{% block scripts %}
    {% autoescape None %}
    <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
    <script src="/public/js/bootstrap-switch.min.js"></script>
    <script src="/public/js/main.js"></script>

    <link href="/public/css/bootstrap-switch.min.css" rel="stylesheet">
{% end %}

{% block body %}
    <div class="container">
     {% include "./snippets/menu.html" %}

      <div class="jumbotron">
        <p class="lead">
            {% for sensor in sensors %}
                {% if 'homepage' in sensor.visible %}
                    <img src="/public/img/sensors/{{ sensor.type }}.png" title = "{{ sensor.type.capitalize() }}" />
                {% if sensor.location != False %} <sub>{{ sensor.location }}</sub> {% end %}
                = {{ sensor.value }}             &nbsp;&nbsp;&nbsp;&nbsp;
                {% end %}
            {% end %}
        </p>
      </div>

      <div class="row marketing">
        <h3>Rooms</h3>
            <div class="container-fluid">
            {% for actuator_name in actuators %}
                <div class="row">
                    <div class="col-md-4">
                        <h4>{{ actuator_name.capitalize() }}</h4>
                    </div>
                </div>
                <div class="row">
                    {% for current_actuator in actuators[actuator_name] %}
                    <div class="col-md-4">
                        {% if current_actuator.type == 'bi' %}
                        <input data-label-text="{{ current_actuator.name.capitalize() }}" type="checkbox" name="{{ current_actuator.name }}" {% if current_actuator.value %}checked{% end %}/>
                        {% else %}
                        <button type="button" class="btn btn-default" rel="{{ current_actuator.name }}">{{ current_actuator.name.capitalize() }}</button>
                        {% end %}
                    </div>
                    {% end %}
                </div>
            {% end %}
            </div>
      </div>

     {% include "./snippets/footer.html" %}

    </div> <!-- /container -->
{% end %}