{% extends "./base.html" %}

{% block scripts %}
    {% autoescape None %}
    <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
    <script src="/public/js/bootstrap-switch.min.js"></script>
    <script src="/public/js/main.js"></script>

    <link href="/public/css/bootstrap-switch.min.css" rel="stylesheet">
{% end %}

{% block body %}
    <div class="container">
     {% include "./snippets/menu.html" %}

      <div class="jumbotron">
        <p class="lead">
            {% for sensor in sensors %}
                {% if 'homepage' in sensor['visible'] %}
                    <img src="/public/img/sensors/{{ sensor['type'] }}.png" title = "{{ sensor['type'].capitalize() }}" />
                {% if sensor['location'] != False %} <sub>{{ sensor['location'] }}</sub> {% end %}
                = {{ sensor['value'] }}
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% end %}
            {% end %}
        </p>
      </div>

      <div class="row marketing">
        <h3>Push buttons</h3>
          <div class="container-fluid">
              <div class="row">
                {% for actuator in actuator_type_single %}
                <div class="col-md-4">
                    <button type="button" class="btn btn-default" rel="{{ actuator }}">{{ actuator.capitalize() }}</button>
                </div>
                {% end %}
              </div>
          </div>
      </div>
      <div class="row marketing">
        <h3>Switches</h3>
            <div class="container-fluid">
            {% for actuator_type in actuator_type_bi %}
                <div class="row">
                    <div class="col-md-4">
                        <h4>{{ actuator_type.capitalize() }}</h4>
                    </div>
                </div>
                <div class="row">
                    {% for actuator in actuator_type_bi[actuator_type] %}
                    <div class="col-md-4">
                        <input data-label-text="{{ actuator['name'].capitalize() }}" type="checkbox" name="{{ actuator['name'] }}" {% if actuator['state'] %}checked{% end %}/>
                    </div>
                    {% end %}
                </div>
            {% end %}
            </div>
      </div>

     {% include "./snippets/footer.html" %}

    </div> <!-- /container -->
{% end %}