<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends "./base.html" %}</title>
</head>

{% block scripts %}
    {% autoescape None %}
    <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
    <script src="/public/js/bootstrap-switch.min.js"></script>
    <script src="/public/js/main.js"></script>

    <link href="/public/css/bootstrap-switch.min.css" rel="stylesheet">
{% end %}

{% block body %}
    <div class="container">
     {% include "./snippets/menu.html" %}
      <div class="row marketing">
        <h3>Sensors last updated</h3>
        <div class="container-fluid">
        <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead>
                <tr>
                    <th>Senzor name</th>
                    <th>Since</th>
                </tr>
            </thead>
            <tbody>
            {% for sensor_data in sensors_last_updated %}
                <tr>
                    <td>{{ sensor_data['name'].capitalize() }}</td>
                    <td>
                        <b>{{ sensor_data['minutes_since_updated'] }}</b>
                        &nbsp;&nbsp;
                        ({{ sensor_data['last_updated'] }})
                    </td>
                </tr>
            {% end %}
            </tbody>
            </table>

        </div>
      </div>

     {% include "./snippets/footer.html" %}
    </div>
{% end %}
<body>

</body>
</html>